*.c32
initrd.gz
linux
*~
pxelinux.0
*.pyc
.kick-venv
webapp.db
.*.swp
*.sqlite
etc/puppet/hosts
etc/puppet/clusters
etc/dnsmasq.conf
etc/ethers
etc/hosts
tftproot/pxelinux.cfg/01*
ssh
local_settings.py
syslinux-6.01/