{% include 'header.html' %}
<table>
  <tr>
    <th>&nbsp;</th>
    <th>id</th>
    <th>mac_address</th>
    <th>ip_address</th>
    <th>netmask</th>
    <th>gateway</th>
    <th>hostname</th>
    <th>chef_role</th>
  </tr>
{% for item in hw %}
  <tr>
    <td>
      <a href="{{ url_for('html_delete_key', key=item) }}">
        <img src="{{ url_for('static',filename='edit-delete.png') }}">
      </a>
      <a href="{{ url_for('html_edit_key', key=item) }}">
        <img src="{{ url_for('static',filename='edit.png') }}">
      </a>
    </td>
    <td>{{ item.id }}</td>
    <td>{{ item.mac_address }}</td>
    <td>{{ item.ip_address }}</td>
    <td>{{ item.netmask }}</td>
    <td>{{ item.gateway }}</td>
    <td>{{ item.hostname }}</td>
    <td>{{ item.chef_role }}</td>
  </tr>
{% endfor %}
</table>
<br/>
<a href="{{ url_for('html_add_key') }}">
  <img src="{{ url_for('static', filename='add.png') }}">
</a>
{% include 'footer.html' %}
